<html>
	<head>
		<style type="text/css">
			body {
			  padding-top: 25vh;
			  font-size: 14px;
			  background: #eee;
			}
			fieldset {
				width: 500px;
				position: relative;
				margin:auto;
				padding-left: 20px;
			}
			p {
				font-size: 20px;
			}
			legend {
				font-size: 17px;
			}
		</style>
	</head>
	<body>
		<fieldset>
			<legend>Model Validation Results</legend>
			<p>{{model}}</p>
			<p>Input Details : {{input}}</p>
			<p>Average NDCG for all queries : {{ndcg}}</p>
			<p><a href="{% url 'home:download_file' file_name='RankedTweets'%}" target="_blank">Click here</a> to download the ranked output</p>
		</fieldset>
		<p style="position:relative;margin:auto;width: 150px;"><a href="{% url 'home:home' %}">Back to home</a></p>

	</body>
</html>
